


<ion-view >
  <ion-nav-title>
    {{controller.device.name}} - {{controller.device.advertising.kCBAdvDataLocalName}}
  </ion-nav-title>
  <ion-content>
    <ion-list>
      
      <ion-item class="item-divider">
          Analog Ports
      </ion-item>
      <ion-item ng-repeat="characteristic in controller.analogPins">
            {{characteristic.characteristic}}: {{characteristic.value}}
      </ion-item>

      <ion-item class="item-divider">
          Digital Ports
      </ion-item>
      
      <ion-toggle ng-repeat="characteristic in controller.digitalPins"
                  ng-show="controller.isDigital(characteristic)"
                  ng-model="controller.value[characteristic.characteristic]" 
                  ng-checked="controller.value[characteristic.characteristic]"
                  ng-change="controller.changeSwitch(controller.device.id, characteristic.service, characteristic.characteristic )">
        {{ characteristic.characteristic }}
      </ion-toggle>
    </ion-list>
      
      <!--
    
    <div class="list card" ng-repeat="characteristic in controller.device.characteristics" >
      <div class="item item-divider">{{characteristic.characteristic}}</div>
        <ion-list>
          <ion-item>
            Is Notifying: {{characteristic.isNotifying}}
          </ion-item>          
          <ion-item>
            Properties: {{characteristic.properties}}
          </ion-item>
          <ion-item>
            Service: {{characteristic.service}}
          </ion-item>          
          <ion-item>
            Value: {{characteristic.value}}
          </ion-item>
        </ion-list>
      <div class="radio">
        <label>
          <input type="checkbox" ng-model="controller.value[characteristic.characteristic]" ng-change="controller.changeSwitch(controller.device.id, characteristic.service, characteristic.characteristic )">
          Switch
        </label>
      </div>
      
      -->
    </div>
        
    
    
    
    
   
        
        

        
      </div>
      

    
    
    
  </ion-content>
</ion-view>




             
        

    


      

