<ion-view view-title="{{device.name}}">
{{controller.device.name}} - {{controller.advertising.kCBAdvDataLocalName}}
  <ion-content class="padding">
    
    <ion-list>
      
      <div ng-repeat="characteristic in controller.device.characteristics"> 
        <ion-item ng-show="!controller.isDigital(characteristic)">
            {{characteristic.characteristic}}: {{characteristic.value}}
        </ion-item>
        <ion-toggle ng-show="controller.isDigital(characteristic)"
                    ng-model="controller.value[characteristic.characteristic]" 
                    ng-checked="controller.value[characteristic.characteristic]"
                    ng-change="controller.changeSwitch(controller.device.id, characteristic.service, characteristic.characteristic )">
          {{ characteristic.characteristic }}
        </ion-toggle>
      </div>
      

    </ion-list>
      
    
    <div class="list card" ng-repeat="characteristic in controller.device.characteristics" >
      <div class="item item-divider">{{characteristic.characteristic}}</div>
        <ion-list>
          <ion-item>
            Is Notifying: {{characteristic.isNotifying}}
          </ion-item>          
          <ion-item>
            Properties: {{characteristic.properties}}
          </ion-item>
          <ion-item>
            Service: {{characteristic.service}}
          </ion-item>          
          <ion-item>
            Value: {{characteristic.value}}
          </ion-item>
        </ion-list>
      <div class="radio">
        <label>
          <input type="checkbox" ng-model="controller.value[characteristic.characteristic]" ng-change="controller.changeSwitch(controller.device.id, characteristic.service, characteristic.characteristic )">
          Switch
        </label>
      </div>
      
      
    </div>
        
    
    
    
    
   
        
        

        
      </div>
      

    
    
    
  </ion-content>
</ion-view>




             
        

    


      

